@import "fonts";
@import "colors";
@import "buttons";

*{
  font-family: 'Work Sans',sans-serif;
  list-style: none;
  text-decoration: none !important;
  transition: 0.3s ease-in-out all;
}

.container{
  max-width: 1344px;
}

.section-margin{
  margin-top: 180px;
}

.label-section{
  font-weight: map-get($fontweights, medium );
  font-size: 25px;
  color: $blackcolor;

  @include media-breakpoint-between(md,lg){
    margin-top: 80px;
  }

  @include media-breakpoint-down(sm){
    margin-top: 110px;
  }

}

.heading-section{
  font-weight: map-get($fontweights, medium );
  font-size: 40px;
  color: $blackcolor;
  
  @include media-breakpoint-between(md,lg){
    font-size: 30px;
  }

  @include media-breakpoint-down(sm){
    font-size: 24px;
    margin-top: 10px;
  }

}

.subheading-section{
  font-weight: map-get($fontweights, light );
  font-size: 18px;
  color: $blackcolor;

  @include media-breakpoint-between(md,lg){
    font-size: 14px;
  }

 
}

// Home css

.home{
  background-color: $whitecolor;
  padding-top: 180px;
  height: 100vh;


  .heading-home{
    font-size: 46px;
    font-weight: map-get($fontweights, thick);
    color: $blackcolor;

    .prop{
      color: $maincolor;
    }
  
    .kre{
      color: $buttoncolor;
    }

    @include media-breakpoint-between(md,lg){
      font-size: 38px;
    }
    @include media-breakpoint-down(sm){
      font-size: 32px;
    }
  }

  .subheading-home{
    font-size: 20px;
    color: $blackcolor;
    font-weight: map-get($fontweights, light);

    @include media-breakpoint-down(md){
      font-size: 16px;
    }
  }

  .btn-home{
    margin-top: 125px;
    
    @include media-breakpoint-down(md){
      margin-top: 100px;
    }
  } 

  .img-home{
    @include media-breakpoint-between(md,lg){
      max-width: 620px;
      max-height: 500px;
    }
  }
}

//Category Css
.category{
  i{
    font-size: 50px;
    color: $maincolor;
  }

  .card{
    border: 2px solid $maincolor;

    &:hover{
      background-color: $maincolor;

      .category-name{
        color: #fff;
      }

      .category-class{
        color: #fff;
      }
    }

    .category-name{
      font-size: 20px;
      color: $blackcolor;
    }
    .category-class{
      font-size: 18px;
      color: $blackcolor;
    }
  }
}

// Produk Css
.product{
  i{
    font-size: 50px;
    color: $maincolor;
  }

 .card{  
  border: none;

  &:hover{
    img{
      transform: scale(1.1);
    }
  }

  .img-box{
   max-width: 435px;
   max-height: 290px;
   border-radius: 10px;
   overflow: hidden;
   position: relative;

   .bg-img{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.17%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .info{
      position: absolute;
      bottom: 20px;
    }

    .member{
      font-weight: map-get($fontweights, medium );
      color: #fff;
    }

    i{
      font-size: 30px;
      color: #EBEF17;
    }
   }
  }

  // product caption
  .product-caption{
    .product-name{
      font-size: 20px;
      font-weight: map-get($fontweights, medium );
    }

    .price{
      font-size: 25px;
      font-weight: map-get($fontweights, bold );
      color: $maincolor;
    }
  }
 }
}

// About css

.about{
  .img-box{
    max-width: 550px;
  }
}

// Tesi Css
.testi{
  background: rgba(247, 110, 17, 0.1);

  .card{
    border: none;
    background-color: $maincolor;
    color: #fff;
    border-radius: 20px;

    .rate{
      i{
        font-size: 30px;
        color: #EBEF17; 
      } 
    }

    .quote-icon{
      i{
        font-size: 41px;
        color: #EBEF17; 
      }
    }
  }
}

.footer{
  background: rgba(247, 110, 17, 0.8);
  border-radius: 50px 50px 0px 0px;
  padding: 60px 0;

  .socmed{
    i{
      font-size: 50px;
      cursor: pointer;
    }
  }

  h3{
    font-size: 20px;
    color: #ece7b4;
    font-weight: map-get($fontweights, bold );
  }

  ul{
    padding: 0;
    margin-top: 20px;
    

    li{
      margin: 20px 0;
      cursor: pointer;
    }
  }
}



